<?xml version="1.0" encoding="UTF-8"?>
<ruleset
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
  <description />
  <arg name="colors" />
  <arg name="tab-width" value="2" />

  <rule ref="Generic">
    <exclude name="Generic.PHP.ClosingPHPTag.NotFound" />
    <exclude name="Generic.PHP.UpperCaseConstant.Found" />
    <exclude name="Generic.Files.EndFileNoNewline.Found" />
    <exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />
    <exclude name="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed" />
    <exclude name="Generic.Files.LowercasedFilename.NotFound" />
    <exclude name="Generic.NamingConventions.AbstractClassNamePrefix.Missing" />
    <exclude name="Generic.Classes.OpeningBraceSameLine.BraceOnNewLine" />
    <exclude name="Generic.Formatting.NoSpaceAfterCast.SpaceFound" />
    <exclude name="Generic.Formatting.SpaceBeforeCast.NoSpace" />
    <exclude name="Generic.Functions.OpeningFunctionBraceKernighanRitchie.BraceOnNewLine" />
  </rule>

  <rule ref="MySource">
    <exclude name="MySource.Channels.IncludeSystem.NotIncludedCall" />
    <exclude name="MySource.PHP.ReturnFunctionValue.NotAssigned" />
    <exclude name="MySource.Commenting.FunctionComment.Missing" />
  </rule>

  <rule ref="PEAR">
    <exclude name="PEAR.Commenting.FileComment.Missing" />
    <exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
    <exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
    <exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
    <exclude name="PEAR.Commenting.ClassComment.Missing" />
    <exclude name="PEAR.Commenting.FunctionComment.Missing" />
  </rule>

  <rule ref="PSR1" />

  <rule ref="PSR12" />

  <rule ref="PSR2" />

  <rule ref="Squiz">
    <exclude name="Squiz.Commenting.FileComment.Missing" />
    <exclude name="Squiz.Formatting.OperatorBracket.MissingBrackets" />
    <exclude name="Squiz.Files.FileExtension.ClassFound" />
    <exclude name="Squiz.Commenting.ClassComment.Missing" />
    <exclude name="Squiz.Commenting.ClosingDeclarationComment.Missing" />
    <exclude name="Squiz.Strings.DoubleQuoteUsage.ContainsVar" />
    <exclude name="Squiz.Commenting.FunctionComment.Missing" />
    <exclude name="Squiz.WhiteSpace.FunctionClosingBraceSpace.SpacingBeforeClose" />
    <exclude name="Squiz.PHP.EmbeddedPhp.ShortOpenEchoNoSemicolon" />
  </rule>

  <rule ref="Zend" />

  <file>app/</file>
  <file>resources/views/</file>
  <file>routes/</file>
  <file>tests/</file>
  <file>index.php</file>
  <file>rector.php</file>
  <exclude-pattern>vendor</exclude-pattern>

  <rule ref="Squiz.Strings.ConcatenationSpacing">
    <properties>
      <property name="spacing" value="1" />
      <property name="ignoreNewlines" value="true" />
    </properties>
  </rule>

  <rule ref="PEAR.Functions.FunctionCallSignature">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="Generic.WhiteSpace.ScopeIndent">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="PEAR.WhiteSpace.ScopeIndent">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="Squiz.WhiteSpace.ObjectOperatorSpacing">
    <properties>
      <property name="ignoreNewlines" value="true" />
    </properties>
  </rule>

  <rule ref="PEAR.WhiteSpace.ObjectOperatorIndent">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="Generic.Arrays.ArrayIndent">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="PSR2.Methods.FunctionCallSignature">
    <properties>
      <property name="indent" value="2" />
    </properties>
  </rule>

  <rule ref="Squiz.WhiteSpace.FunctionSpacing">
    <properties>
      <property name="spacing" value="1" />
      <property name="spacingBeforeFirst" value="0" />
      <property name="spacingAfterLast" value="0" />
    </properties>
  </rule>

  <rule ref="Generic.Files.InlineHTML.Found">
    <exclude-pattern>resources/views</exclude-pattern>
  </rule>
</ruleset>
